@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/microsoft/signalr/dist/browser/signalr.min.js"></script>

<div class="content">
<div class="container-fluid">

<script type="text/javascript">

        $(document).ready(()=>{

            var connection = new signalR.HubConnectionBuilder()
                .withUrl("http://localhost:5156/signalrhub")
                .build();

            $("#connstatus").text(connection.state);
            connection.start().then(()=> {
                $("#connstatus").text(connection.state);
                setInterval(()=> {
                    connection.invoke("SendStatistic");
                },1000)
            }).catch((err)=> {console.log(err)});


            connection.on("ReceiveStatistic",(dashboardData)=> {
                $("#categoryCount").text(dashboardData.categoryCount);
                $("#productCount").text(dashboardData.productCount);
                $("#activeCategoryCount").text(dashboardData.activeCategoryCount);
                $("#passiveCategoryCount").text(dashboardData.passiveCategoryCount);
                $("#maxPriceProductName").text(dashboardData.maxPriceProductName);
                $("#minPriceProductName").text(dashboardData.minPriceProductName);
                $("#activeProducts").text(dashboardData.activeProducts);
                $("#passiveProducts").text(dashboardData.passiveProducts);
                $("#averageProductPrice").text(dashboardData.averageProductPrice + "₺");
                $("#todayTotalOrderPrice").text(dashboardData.todayTotalOrderPrice + "₺");
                $("#totalOrderPrice").text(dashboardData.totalOrderPrice + "₺");
                $("#totalOrder").text(dashboardData.totalOrder);
                     
            });
        })
    </script>

<h4 class="page-title">Anlık İstatistik Sayfası</h4>
<div class="row">
    <div class="col-md-3">
        <div class="card card-stats card-warning">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5">
                        <div class="icon-big text-center">
                            <i class="la la-certificate"></i>
                        </div>
                    </div>
                    <div class="col-7 d-flex align-items-center">
                        <div class="numbers">
                            <p class="card-category">Kategori Sayısı</p>
                            <h4 class="card-title" id="categoryCount"></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-stats card-success">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5">
                        <div class="icon-big text-center">
                            <i class="la la-shopping-cart"></i>
                        </div>
                    </div>
                    <div class="col-7 d-flex align-items-center">
                        <div class="numbers">
                            <p class="card-category">Ürün Sayısı</p>
                            <h4 class="card-title" id="productCount"></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-stats card-danger">
            <div class="card-body">
                <div class="row">
                    <div class="col-5">
                        <div class="icon-big text-center">
                            <i class="la la-newspaper-o"></i>
                        </div>
                    </div>
                    <div class="col-7 d-flex align-items-center">
                        <div class="numbers">
                            <p class="card-category">Active Kategori</p>
                            <h4 class="card-title" id="activeCategoryCount"></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-stats card-primary">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5">
                        <div class="icon-big text-center">
                            <i class="la la-close"></i>
                        </div>
                    </div>
                    <div class="col-7 d-flex align-items-center">
                        <div class="numbers">
                            <p class="card-category">Pasif Kategori</p>
                            <h4 class="card-title" id="passiveCategoryCount"></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="card card-stats card-warning">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5">
                        <div class="icon-big text-center">
                            <i class="la la-star"></i>
                        </div>
                    </div>
                    <div class="col-7 d-flex align-items-center">
                        <div class="numbers">
                            <p class="card-category">En Pahalı Ürün</p>
                            <h4 class="card-title" id="maxPriceProductName"></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-stats card-success">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5">
                        <div class="icon-big text-center">
                            <i class="la la-bars"></i>
                        </div>
                    </div>
                    <div class="col-7 d-flex align-items-center">
                        <div class="numbers">
                            <p class="card-category">En Ucuz Ürün</p>
                            <h4 class="card-title" id="minPriceProductName"></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-stats card-warning">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5">
                        <div class="icon-big text-center">
                            <i class="la la-star"></i>
                        </div>
                    </div>
                    <div class="col-7 d-flex align-items-center">
                        <div class="numbers">
                            <p class="card-category">Aktif Ürün Sayısı</p>
                            <h4 class="card-title" id="activeProducts"></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-stats card-success">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5">
                        <div class="icon-big text-center">
                            <i class="la la-close"></i>
                        </div>
                    </div>
                    <div class="col-7 d-flex align-items-center">
                        <div class="numbers">
                            <p class="card-category">Pasif Ürün Sayısı</p>
                            <h4 class="card-title" id="passiveProducts"></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="card card-stats card-danger">
            <div class="card-body">
                <div class="row">
                    <div class="col-5">
                        <div class="icon-big text-center">
                            <i class="la la-newspaper-o"></i>
                        </div>
                    </div>
                    <div class="col-7 d-flex align-items-center">
                        <div class="numbers">
                            <p class="card-category">Ortalama Ürün Fiyatı</p>
                            <h4 class="card-title" id="averageProductPrice"></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-stats card-primary">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5">
                        <div class="icon-big text-center">
                            <i class="la la-cutlery"></i>
                        </div>
                    </div>
                    <div class="col-7 d-flex align-items-center">
                        <div class="numbers">
                            <p class="card-category">Toplam Sipariş</p>
                            <h4 class="card-title"id="totalOrder"></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-stats card-warning">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5">
                        <div class="icon-big text-center">
                            <i class="la la-money"></i>
                        </div>
                    </div>
                    <div class="col-7 d-flex align-items-center">
                        <div class="numbers">
                            <p class="card-category">Bügünkü Toplam Kasa</p>
                            <h4 class="card-title" id="todayTotalOrderPrice"></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-stats card-success">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5">
                        <div class="icon-big text-center">
                            <i class="la la-money"></i>
                        </div>
                    </div>
                    <div class="col-7 d-flex align-items-center">
                        <div class="numbers">
                            <p class="card-category">Toplam Kasa</p>
                            <h4 class="card-title" id="totalOrderPrice"></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>